-#   Copyright (c) 2010, Diaspora Inc.  This file is
-#   licensed under the Affero General Public License version 3 or later.  See
-#   the COPYRIGHT file.

.span-15.last
  .modal_title_bar
    %h4
      Manage contacts within
      %i= aspect.name

  .span-6.append-1.last
    %h3 Existing contacts
    = render 'shared/contact_list', :aspect => aspect, :contacts => @contacts, :manage => defined?(manage)

  .span-7.last
    %h3 Add a new contact
    =t('.enter_a_diaspora_username')
    %br
    %i= t '.your_diaspora_username_is', :diaspora_handle  => current_user.diaspora_handle

    = form_tag(people_path, :method => 'get') do
      = text_field_tag 'q', nil, :placeholder => t('.search'), :type => 'search', :results => 5
      = submit_tag "Find user"

